fwScheduleBot/fwScheduleConfig.json
fwScheduleBot/config.json
.vscode/launch.json
fwScheduleBot/discord.log
fwScheduleBot/node_modules
.env
fwScheduleBot/built
fwScheduleBot/production
fwScheduleConfig.json